This notebook analyzes the [Yelp Dataset](https://www.yelp.com/dataset) using a LLM agent as a copilot. First we'll reorganize the data and put it in pandas a dataframe. This is in order to get the data organized in a format where it is easier to instruct the LLM how to analyze it. Alternatively we could try to get the LLM agent to restructure the data for us. Feel free to give this a shot!

## Business Dataset Analysis

In [1]:
import json
import pandas as pd
from typing import Dict, List
import progressbar


def read_json_data(filepath: str):
    data = []
    print('loading json')
    with open(filepath, 'r') as jsonfile:
        for line in progressbar.progressbar(jsonfile.readlines()):
            data.append( json.loads(line) )
    return data

def extract_non_nested_fields(data: List[Dict]):
    record = data[0]
    columns = set([c for c in record if type(record[c]) != dict and c != 'hours'])
    print('reformatting json')
    records = []
    return [
        {key: record[key] for key in record if key in columns }
        for record in progressbar.progressbar(data)
    ]

def load_json_to_df(filepath: str):
    data = read_json_data(filepath)
    data = extract_non_nested_fields(data)
    print('loading data into dataframe')
    return pd.DataFrame(data)

In [2]:
filepath = 'data/yelp_dataset/yelp_academic_dataset_business.json'

In [3]:
business_df = load_json_to_df('data/yelp_dataset/yelp_academic_dataset_business.json')

  0% (0 of 150346) |                     | Elapsed Time: 0:00:00 ETA:  --:--:--

loading json

100% (150346 of 150346) |################| Elapsed Time: 0:00:03 Time:  0:00:03
 26% (39966 of 150346) |####             | Elapsed Time: 0:00:00 ETA:   0:00:00

reformatting json

100% (150346 of 150346) |################| Elapsed Time: 0:00:00 Time:  0:00:00

loading data into dataframe

Lets take al ook at the dataframes content.

In [4]:
business_df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,categories
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,"Doctors, Traditional Chinese Medicine, Naturop..."
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,"Shipping Centers, Local Services, Notaries, Ma..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"Department Stores, Shopping, Fashion, Home & G..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"Restaurants, Food, Bubble Tea, Coffee & Tea, B..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"Brewpubs, Breweries, Food"

We will use a custom `pythonCodeExecution` tool to enable our langchain agent to perform operations on the Pandas dataframes in our python environment and store the results. This tool requires all input dataframes which will be used for analysis to be registered with the `chat_agent` by calling the function `chat_agent.add_agent_input`. This function takes the variable, a variable name, and a variable description as input arguments
For example:
```
import chat_agent

chat_agent.add_agent_input(
    business_df,
    'business_df',
    'this is a dataframe containing information about businesses'
)
```

In [5]:
import chat_agent

In [6]:
chat_agent.add_agent_input(
    business_df,
    'business_df',
    'this is a dataframe containing information about businesses',
    include_df_head=False
)

In [7]:
%%chat_agent -n    
Give me all of the businesses that are in PA and store it in a dataframe named pa_df.

Prompt:
Give me all of the businesses that are in PA and store it in a dataframe named pa_df.

When using the pythonCodeExecution tool you may assume that you have access to the following variables when writing the code:

business_df - this is a dataframe containing information about businesses


> Entering new AgentExecutor chain...
on action
 I need to filter the business_df dataframe to only include businesses in PA
Action: pythonCodeExecution
Action Input: pa_df = business_df[business_df['state'] == 'PA']
saving result to agent input  pa_df

Observation: Answer has been successfully derived. Key: pa_df
Thought: I now have a dataframe with all of the businesses in PA
Final Answer: pa_df contains all of the businesses in PA.

> Finished chain.

'pa_df contains all of the businesses in PA.'

In [8]:
chat_agent.get_result('pa_df')

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,categories
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"Restaurants, Food, Bubble Tea, Coffee & Tea, B..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"Brewpubs, Breweries, Food"
15,MUTTqe8uqyMdBl186RmNeA,Tuna Bar,205 Race St,Philadelphia,PA,19106,39.953949,-75.143226,4.0,245,1,"Sushi Bars, Restaurants, Japanese"
19,ROeacJQwBeh05Rqg7F6TCg,BAP,1224 South St,Philadelphia,PA,19147,39.943223,-75.162568,4.5,205,1,"Korean, Restaurants"
25,PSo_C1Sfa13JHjzVNW6ziQ,Indian Walk Veterinary Center,662 Durham Rd,Newtown,PA,18940,40.273493,-74.987496,5.0,15,1,"Pet Services, Pet Groomers, Pets, Veterinarians"
...,...,...,...,...,...,...,...,...,...,...,...,...
150325,l9eLGG9ZKpLJzboZq-9LRQ,Wawa,19 N Bishop Ave,Clifton Heights,PA,19018,39.925656,-75.310344,3.0,11,1,"Restaurants, Sandwiches, Convenience Stores, C..."
150326,JDM7kiCEmeBc_5W-z6eZZw,2601 Parkway Apartments,2601 Pennsylvania Ave,Philadelphia,PA,19130,39.968806,-75.180608,3.0,6,1,"Real Estate, Apartments, Home Services"
150329,9U1Igcpe954LoWZRmNc-zg,Hand & Stone Massage And Facial Spa,"1100 S Columbus Blvd, Ste 24",Philadelphia,PA,19147,39.932756,-75.144504,3.0,32,1,"Day Spas, Beauty & Spas, Skin Care, Massage"
150334,LJ4GjQ1HL6kqvIPpNUNNaQ,Shanti Yoga and Ayurveda,"1638 Pine St, Fl 1",Philadelphia,PA,19103,39.945966,-75.169666,4.5,39,1,"Health & Medical, Yoga, Shopping, Naturopathic..."
150336,WnT9NIzQgLlILjPT0kEcsQ,Adelita Taqueria & Restaurant,1108 S 9th St,Philadelphia,PA,19147,39.935982,-75.158665,4.5,35,1,"Restaurants, Mexican"

In [9]:
%%chat_agent -n
what 10 business in the dataframe pa_df have the greatest number of reviews

Prompt:
what 10 business in the dataframe pa_df have the greatest number of reviews

When using the pythonCodeExecution tool you may assume that you have access to the following variables when writing the code:

business_df - this is a dataframe containing information about businesses

pa_df - object of type <class 'pandas.core.frame.DataFrame'> related to the thought "I need to filter the business_df dataframe to only include businesses in PA". The dataframe has the columns ['business_id' 'name' 'address' 'city' 'state' 'postal_code' 'latitude'
 'longitude' 'stars' 'review_count' 'is_open' 'categories']


> Entering new AgentExecutor chain...
on action
 I need to filter the business_df dataframe to only include businesses in PA
Action: pythonCodeExecution
Action Input: pa_df = business_df[business_df['state'] == 'PA']
saving result to agent input  pa_df

Observation: Answer has been successfully derived. Key: pa_df
Thought:on action
 I need to sort the pa_df dataframe by review_count
Action: pythonCodeExecution
Action Input: pa_df.sort_values(by='review_count', ascending=False, inplace=True)

Observation: complete. No assignment operation found in last lines of code.
Thought:

<string>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

on action
 I need to get the top 10 businesses
Action: pythonCodeExecution
Action Input: top_10_pa_businesses = pa_df.head(10)
saving result to agent input  top_10_pa_businesses

Observation: Answer has been successfully derived. Key: top_10_pa_businesses
Thought:

> Finished chain.

'Agent stopped due to iteration limit or time limit.'

In [10]:
chat_agent.get_result('top_10_pa_businesses')

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,categories
143157,ytynqOUb3hjKeJfRj5Tshw,Reading Terminal Market,51 N 12th St,Philadelphia,PA,19107,39.953341,-75.158855,4.5,5721,1,"Candy Stores, Shopping, Department Stores, Fas..."
113983,PP3BBaVxZLcJU54uP_wL6Q,Pat's King of Steaks,1237 E Passyunk Ave,Philadelphia,PA,19147,39.933201,-75.159266,3.0,4250,1,"Italian, American (Traditional), Sandwiches, F..."
57332,IkY2ticzHEn4QFn8hQLSWg,Geno's Steaks,1219 S 9th St,Philadelphia,PA,19147,39.933837,-75.158814,2.5,3401,1,"Sandwiches, Cheesesteaks, Steakhouses, Restaur..."
131670,9PZxjhTIU7OgPIzuGi89Ew,El Vez,121 S 13th St,Philadelphia,PA,19107,39.949702,-75.161770,4.0,3187,1,"Lounges, Bars, Nightlife, Breakfast & Brunch, ..."
31165,ctHjyadbDQAtUFfkcAFEHw,Zahav,237 St James Pl,Philadelphia,PA,19106,39.946261,-75.145135,4.5,3065,1,"Nightlife, Bars, Food, Ethnic Food, Middle Eas..."
64928,6ajnOk0GcY9xbb5Ocaw8Gw,Barbuzzo,110 S 13th St,Philadelphia,PA,19107,39.950007,-75.162158,4.5,2893,1,"Mediterranean, Restaurants, Pizza, Italian"
20078,j-qtdD55OLfSqfsWuQTDJg,Parc,227 S 18th St,Philadelphia,PA,19103,39.949172,-75.170727,4.0,2761,1,"Restaurants, French, Wine Bars, Nightlife, Ame..."
53452,sTPueJEwcRDj7ZJmG7okYA,Jim's South St,400 S St,Philadelphia,PA,19147,39.941498,-75.149272,3.5,2736,1,"Bars, Restaurants, Pizza, Cheesesteaks, Italia..."
36746,RQAF6a0akMiot5lZZnMNNw,Dalessandro’s Steaks & Hoagies,600 Wendover St,Philadelphia,PA,19128,40.029494,-75.205971,4.0,2686,1,"Sandwiches, Delis, Restaurants, Cheesesteaks"
149325,0RuvlgTnKFbX3IK0ZOOocA,Green Eggs Café,212 S 13th St,Philadelphia,PA,19107,39.948123,-75.162463,4.0,2679,1,"Restaurants, American (New), Diners, Breakfast..."

In [11]:
%%chat_agent -n
plot top_10_pa_businesses on a map

Prompt:
plot top_10_pa_businesses on a map

When using the pythonCodeExecution tool you may assume that you have access to the following variables when writing the code:

business_df - this is a dataframe containing information about businesses

pa_df - object of type <class 'pandas.core.frame.DataFrame'> related to the thought "I need to filter the business_df dataframe to only include businesses in PA". The dataframe has the columns ['business_id' 'name' 'address' 'city' 'state' 'postal_code' 'latitude'
 'longitude' 'stars' 'review_count' 'is_open' 'categories']

top_10_pa_businesses - object of type <class 'pandas.core.frame.DataFrame'> related to the thought "I need to get the top 10 businesses". The dataframe has the columns ['business_id' 'name' 'address' 'city' 'state' 'postal_code' 'latitude'
 'longitude' 'stars' 'review_count' 'is_open' 'categories']


> Entering new AgentExecutor chain...
on action
 I need to plot the top 10 businesses in PA on a map
Action: mapPlottingTool
Action Input: top_10_pa_businesses
Observation: map for top_10_pa_businesses created
Thought: I now know the final answer
Final Answer: The top 10 businesses in PA have been plotted on a map.

> Finished chain.

## Review Dataset Analysis

It's a good idea to remove unused inputs before instructing the chat_agent to prevent them from being included in the prompt to the LLM. Having many irrelvant inputs included in the prompt to the LLM may cause confusion.

In [12]:
chat_agent.get_inputs().keys()

dict_keys(['business_df', 'pa_df', 'top_10_pa_businesses', 'top_10_pa_businesses_map'])

We no longer need top_10_pa_businesses and top_10_pa_businesses

In [13]:
chat_agent.delete_agent_input(['top_10_pa_businesses', 'top_10_pa_businesses_map'])

In [14]:
chat_agent.get_inputs().keys()

dict_keys(['business_df', 'pa_df'])

In [15]:
review_df = load_json_to_df('data/yelp_dataset/yelp_academic_dataset_review.json')

loading json

100% (6990280 of 6990280) |##############| Elapsed Time: 0:02:13 Time:  0:02:13
  0% (14047 of 6990280) |                | Elapsed Time: 0:00:00 ETA:   0:01:39

reformatting json

100% (6990280 of 6990280) |##############| Elapsed Time: 0:01:21 Time:  0:01:21

loading data into dataframe

In [16]:
review_df.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5.0,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3.0,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4.0,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15

In [17]:
review_df.shape

(6990280, 9)

In [18]:
chat_agent.add_agent_input(
    review_df,
    'review_df',
    'this is a dataframe containing reviews of businesses',
    include_df_head=False
)

In [19]:
%%chat_agent -n
Filter the dataframe review_df so that it just contains reviews from businesses that are in PA and have over 500 reviews.
Store the result in a variable named filtered_reviews_df.

Prompt:
Filter the dataframe review_df so that it just contains reviews from businesses that are in PA and have over 500 reviews.
Store the result in a variable named filtered_reviews_df.

When using the pythonCodeExecution tool you may assume that you have access to the following variables when writing the code:

business_df - this is a dataframe containing information about businesses

pa_df - object of type <class 'pandas.core.frame.DataFrame'> related to the thought "I need to filter the business_df dataframe to only include businesses in PA". The dataframe has the columns ['business_id' 'name' 'address' 'city' 'state' 'postal_code' 'latitude'
 'longitude' 'stars' 'review_count' 'is_open' 'categories']

review_df - this is a dataframe containing reviews of businesses


> Entering new AgentExecutor chain...
on action
 I need to filter the review_df dataframe to only include reviews from businesses in PA with over 500 reviews
Action: pythonCodeExecution
Action Input:

# filter the review_df dataframe to only include reviews from businesses in PA with over 500 reviews
filtered_reviews_df = review_df[review_df['business_id'].isin(pa_df[pa_df['review_count'] > 500]['business_id'])]

saving result to agent input  filtered_reviews_df

Observation: Answer has been successfully derived. Key: filtered_reviews_df
Thought: I now know the final answer
Final Answer: The filtered_reviews_df dataframe contains reviews from businesses that are in PA and have over 500 reviews.

> Finished chain.

'The filtered_reviews_df dataframe contains reviews from businesses that are in PA and have over 500 reviews.'

In [20]:
chat_agent.get_result('filtered_reviews_df')

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
49,cvQXRFLCyr0S7EgFb4lZqw,ZGjgfSvjQK886kiTzLwfLQ,EtKSTHV5Qx_Q7Aur9o4kQQ,5.0,3,1,1,"On a scale of one to things that are awesome, ...",2009-10-14 01:15:04
81,7rCsR3SARVF3vXNiw_Csgg,mmdf_Fi-Hh_3uZN5zE164A,9gObo5ltOMo6UgsaXaHPWA,5.0,0,0,0,My husband and I took my mother here for her 1...,2016-09-06 03:04:24
99,gImS1dtA_TixEouDfp2o4g,xE7AXFF9wVaN6id6OCtH3Q,D5V0Fawd6ODVgqCY8xngsw,4.0,1,0,2,I have been to a number of dog friendly hotels...,2017-01-14 21:05:04
102,8GZbCEMxrbqmRinDbfHWVQ,OkjeFppodgJP_CvB84cJYw,FHNIvNgh3fS7VZQq2Y3dsA,3.0,1,0,1,After trying a few ramen places with crazy var...,2014-07-13 18:28:58
103,D3GVEsKHghesOV5wdZOwRQ,Zp1o52IRl92dunmsfiT96g,gGyqnAlpFrka_qzpO7j4lQ,5.0,0,0,0,Federal Doughnuts is a new concession at the b...,2013-04-11 04:12:06
...,...,...,...,...,...,...,...,...,...
6990212,fcz7CJFRwJQQ0U57t3v8Jw,ws5xN4JuudHqRLYleWw_1g,qQO7ErS_RAN4Vs1uX0L55Q,4.0,2,1,2,"This place is really cute, has a great retro v...",2017-12-07 19:20:36
6990254,X5R98ygOtbhryDiKA-J2qQ,LHWtjTG7e1NzNPYUbUo-9w,rgeuy1qbw6Z8B6CSVANHIA,5.0,1,1,1,I've been to the other Federal Donuts location...,2012-10-13 14:39:37
6990255,MVg4YUQeEhCA7Z7RsBJSVg,7-7A0Avj47slLGV7yBFc8w,ytynqOUb3hjKeJfRj5Tshw,3.0,1,0,0,"I was so excited about all the food I saw, but...",2013-07-25 21:00:15
6990260,nLjbVsETpqO17RbFcqskkA,am7-gkH_PDz598oTdYSD6A,3gVSrS4kffGGZT8oXHsIcw,3.0,2,0,2,"*Later Yelp* I've only been here once, but I l...",2014-11-03 14:45:46
6990265,KlHxcAifUF5zDKpJCBrRsw,7ziWZULyiZv2TesYNMFf4g,qQO7ErS_RAN4Vs1uX0L55Q,4.0,1,0,0,"ice cream! ice cream sodas, sundaes!! \n\nwant...",2012-10-21 04:08:40

In [21]:
%%chat_agent -n
Using filtered_reviews_df, for each business compute the percentage of reviews for the business that are under 3 stars.
Create a dataframe containing business ids sorted in descending order by this percentage.
Store the result in a dataframe called low_review_df

Prompt:
Using filtered_reviews_df, for each business compute the percentage of reviews for the business that are under 3 stars.
Create a dataframe containing business ids sorted in descending order by this percentage.
Store the result in a dataframe called low_review_df

When using the pythonCodeExecution tool you may assume that you have access to the following variables when writing the code:

business_df - this is a dataframe containing information about businesses

pa_df - object of type <class 'pandas.core.frame.DataFrame'> related to the thought "I need to filter the business_df dataframe to only include businesses in PA". The dataframe has the columns ['business_id' 'name' 'address' 'city' 'state' 'postal_code' 'latitude'
 'longitude' 'stars' 'review_count' 'is_open' 'categories']

review_df - this is a dataframe containing reviews of businesses

filtered_reviews_df - object of type <class 'pandas.core.frame.DataFrame'> related to the thought "I need to filter the review_df dataframe to only include reviews from businesses in PA with over 500 reviews". The dataframe has the columns ['review_id' 'user_id' 'business_id' 'stars' 'useful' 'funny' 'cool'
 'text' 'date']


> Entering new AgentExecutor chain...
on action
 I need to group the filtered_reviews_df dataframe by business_id and count the number of reviews with stars less than 3.
Action: pythonCodeExecution
Action Input:

# Group the filtered_reviews_df dataframe by business_id
grouped_reviews_df = filtered_reviews_df.groupby('business_id')

# Count the number of reviews with stars less than 3
low_review_count_df = grouped_reviews_df['stars'].apply(lambda x: (x < 3).sum())

# Calculate the percentage of reviews for each business that are under 3 stars
low_review_percent_df = low_review_count_df / grouped_reviews_df['stars'].count()

# Create a dataframe containing business ids sorted in descending order by this percentage
low_review_df = low_review_percent_df.sort_values(ascending=False).reset_index()

saving result to agent input  low_review_df

Observation: Answer has been successfully derived. Key: low_review_df
Thought: I now know the final answer
Final Answer: The dataframe low_review_df contains business ids sorted in descending order by the percentage of reviews for the business that are under 3 stars.

> Finished chain.

'The dataframe low_review_df contains business ids sorted in descending order by the percentage of reviews for the business that are under 3 stars.'

In [22]:
chat_agent.get_result('low_review_df')

                business_id     stars
0    MWAzAdxacgzj2I64jwv57g  0.646927
1    io4YNLvABJrFraEwtQBWqA  0.615114
2    Gr6nYrQ_-3p4LcE4M84lTw  0.558095
3    IkY2ticzHEn4QFn8hQLSWg  0.527421
4    6zEWIsb6Lhr3BeoC3gm1lw  0.515038
..                      ...       ...
301  yPxNNSmPHKO3m_kq53D4Jg  0.028835
302  eJaeTZlIdM3HWCq__Ve4Wg  0.028139
303  mlrzM-jUkKot28XJhScuuA  0.024621
304  ZF0tt7hn6WK3-aNWgtLcFA  0.021609
305  ytynqOUb3hjKeJfRj5Tshw  0.016269

[306 rows x 2 columns]

Here we are telling the agent to put the top 3 most useful reviews in a string.
When output from the `pythonCodeExecution` produces a string it is returned to the agent and can be used as context for subsequent actions.

In [23]:
chat_agent.delete_agent_input('pa_df')

In [24]:
%%chat_agent -n
Concatenate the top 3 most useful reviews of the first business in the dataframe low_review_df and store the result in a string named useful reviews.
Suggest what the business can do to improve.

Prompt:
Concatenate the top 3 most useful reviews of the first business in the dataframe low_review_df and store the result in a string named useful reviews.
Suggest what the business can do to improve.

When using the pythonCodeExecution tool you may assume that you have access to the following variables when writing the code:

business_df - this is a dataframe containing information about businesses

review_df - this is a dataframe containing reviews of businesses

filtered_reviews_df - object of type <class 'pandas.core.frame.DataFrame'> related to the thought "I need to filter the review_df dataframe to only include reviews from businesses in PA with over 500 reviews". The dataframe has the columns ['review_id' 'user_id' 'business_id' 'stars' 'useful' 'funny' 'cool'
 'text' 'date']

low_review_df - object of type <class 'pandas.core.frame.DataFrame'> related to the thought "I need to group the filtered_reviews_df dataframe by business_id and count the number of reviews with stars less than 3.". The dataframe has the columns ['business_id' 'stars']


> Entering new AgentExecutor chain...
on action
 I need to get the top 3 most useful reviews for the first business in the low_review_df dataframe.
Action: pythonCodeExecution
Action Input:
# Get the business_id of the first business in the low_review_df dataframe
business_id = low_review_df.iloc[0]['business_id']

# Filter the review_df dataframe to only include reviews from the first business in the low_review_df dataframe
filtered_reviews_df = review_df[review_df['business_id'] == business_id]

# Sort the filtered_reviews_df dataframe by the 'useful' column in descending order
sorted_reviews_df = filtered_reviews_df.sort_values(by='useful', ascending=False)

# Get the top 3 most useful reviews
top_3_reviews = sorted_reviews_df.head(3)

# Concatenate the top 3 most useful reviews
useful_reviews = ' '.join(top_3_reviews['text'].tolist())
saving result to agent input  useful_reviews

Observation: I'll be honest and say my review is based on the sales pitch. My wife was approached while shopping at BJ's and was told they would come out for a quick measure and then provide an estimate. The estimate is supposedly good for a year. What they don't tell you is that when they come to your home, they will take at least two hours of your time and will make you feel pressured into taking the lower offered price right then and there.

We've had work done on our house and contractors will come out, give an estimate and then allow you time to think about it or shop around. It's not like that with this company. The products seem good based on what we were shown, but I've never been a fan of pushy sales tactics. Therefore, its a one star rating for me. I agree with Kristine S, emphatically.

This whole 'Power home Remodeling Group' thing is bullcrap. I wanted two windows replaced by a single bay. No big deal. After John Dude from PHRG comes out and time sucks 45 minutes from my life, he finally actually looks at the project (which was directly behind him for the entire time he was talking to me) and pronounces:

"Oh, we don't do construction - you'll need a remodeler"

"Aren't you now Power home REMODELING group?" I ask

"Well yeah, but we really don't do remodeling."

So it's really this:

Power Home Replace existing windows, replace existing siding, don't remodel really Group.

See my six star reviews for REAL pros. Buyer beware - only seek an estimate from this group if you have 3+ hours to spare.  Do your homework and read the Yelp reviews below and aggregated reviews on insiderpages.com.  'Nuf said.
Thought: I now know the final answer
Final Answer: The business should focus on providing more transparent information about their services and not pressure customers into making decisions on the spot. They should also make sure to provide accurate information about the services they offer.

> Finished chain.

'The business should focus on providing more transparent information about their services and not pressure customers into making decisions on the spot. They should also make sure to provide accurate information about the services they offer.'